@import url("global.css");

body{
  /*--text-background: rgba(154, 142, 100, 0.45);*/
  font-family: arial;
}

.content {
  /* The image used */
  background-image: url("../images/pizza-back1-blur.jpg");
  height: 185%;
}

.inner{
  width: 50%;
  margin: auto;
  color: white;
  background-color: rgba(154, 142, 100, 0.55);
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 5px;
}

h1, h2, p{
  color: white;
}

h1{

  font-size: 60px;

}

h2{

  font-size: 40px;

}

p{
  font-size: 20px;


}
