@import url("global.css");

body{
  /*--text-background: rgba(154, 142, 100, 0.45);*/
  font-family: arial;
}

.content {
  /* The image used */
  background-image: url("../images/kebap-back1.jpg");
  height: 185%;
}

.inner{
  width: 50%;
  margin: auto;
  color: white;
  padding-left:20px;
  padding-right: 20px;
  padding-bottom: 3px;
  text-align: left;
  border-radius:25px;
}

h1, h2, p{
  color: white;
}

h1{
  text-align: center;
  font-size: 60px;

}

h2{

  font-size: 40px;

}

p{
  font-size: 20px;


}
