@import url("global.css");

body{
  /*--text-background: rgba(154, 142, 100, 0.45);*/
}

.content {
  /* The image used */
  background-image: url("../images/pizza-back1-blur.jpg");
  height: 100%;


}

h1, h2, p{
  color: white;
  background-color: rgba(154, 142, 100, 0.45);
  width: 800px;
  margin: 50px;
}

h1{

  font-size: 60px;

}

h2{

  font-size: 40px;

}

p{
  font-size: 20px;


}
