body{
  --main-bg-color: rgb(255, 94, 60);
  --main-text-color: rgb(255, 243, 130);
  --active-highlight: rgb(255, 222, 0);
}

#navbarmin{
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  list-style-type: none;
  width: 50px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  position: fixed;
  /* padding-top: 60px; */
  /* padding-left: 10px; */
}

#navbarmin li {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3s;
}

#navbar{
  color: var(--main-text-color);
  background-color: var(--main-bg-color);
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
}

#navbar li{
  /* d */
}

#navbar li a{
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3s;
}


#navbar li a:hover{
  background-color: #555;
  color: white;
}

.active {
  background-color: var(--active-highlight);
  color: white;
}
