body{
  /* Set of variables that specify color. Variables set here can also be used in individual page stylesheets
     Variables in css must be prefixed with '--'*/
  /*--main-bg-color: rgb(255, 0, 0);
  --main-text-color: rgb(255, 243, 130);
  --active-highlight: rgb(255, 222, 0);
  --active-text-color: rgb(85, 85, 85);
  --navbar-text-color: rgb(255, 255, 255);
  --navbar-bg-color: rgb(255, 0, 0);*/
  font-family: 'Roboto', sans-serif;
  height: 100%-;
  overflow-x: hidden;
}

#navbarmanager{
  float: left;
}

#navbarmin{
  color: rgb(255, 243, 130);
  background-color: rgb(255, 0, 0);
  list-style-type: none;
  width: 50px;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  height: 100%;
  position: fixed;
  /* padding-top: 60px; */
  /* padding-left: 10px; */
}

#navbarmin li {
  display: block;
  color: rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3s;
}

#navbar{
  background-color: rgb(255, 0, 0);
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 38px;
  white-space: nowrap;
}

#navbar li{
  /* d */
}

#navbar li a{
  display: block;
  color:  rgb(255, 255, 255);
  padding: 8px 16px;
  text-decoration: none;
  transition: 0.3s;
}

#navbar li a:hover{
  background-color: rgb(255, 222, 0);
  color: rgb(85, 85, 85);
}

#navbar li a.active, #navbarmin li.active, .active {
  color: rgb(85, 85, 85);
  background-color: rgb(255, 222, 0);
}
.content{
  padding: 0;
  float: left;
  margin: 0;
  /* position: fixed; */
  position: absolute;
  top: 0px; /* Header Height */
  bottom: 0px; /* Footer Height */
  text-align: center;
  width: 100%;
  z-index: -1;


  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  /* background-clip: border-box; */
  background-position: center;
  background-repeat: repeat-y;
  background-size: cover;
}

.inner{
  background-color: rgba(50,50,50, 0.63);
  border-radius: 20px;
}
