.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-snapchat-ghost {
  background: #fffc00;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.content{
  background-image: url("../images/index-back.jpg");
  height: 120%;
  padding:15px;
}

.inner{
  width: 50%;
  margin: auto;
  padding-left:30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
}

img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

p{
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}

h1{
  padding: 10px;
  font-size: 60px;
  color: white;
}

h2{
  padding: 10px;
  font-size: 40px;
  color: white;
}
