@import url("global.css");


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.content{
  background-image: url("../images/index-back.jpg");
  height: 120%;
  padding:15px;
  
  /*height: 110%;*/
  /*this is what causes the white background*/
}

.inner{
  width: 50%;
  margin: auto;
  padding-left:30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: rgba(50,50,50, 0.75);
  border-radius:25px;
}

h1{
  padding: 10px;
  font-size: 60px;
  color: white;
  font-family: arial;
}

h2{
  font-family: arial;
  padding: 10px;
  font-size: 40px;
  color: white;
}

p{
  padding: 10px;
  color: rgb(255, 255, 255);
  font-size: 20px;
}
