@import url("global.css");


img{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.content{
  background-image: url("../images/kebap-back1-blur.jpg");
}
.text{
  width: 50%;
  margin: auto;
}

h1{
  font-size: 60px;
  color: white;
  background-color: rgba(154, 142, 100, 0.5);
}

h2{
  font-size: 40px;
  color: white;
  background-color: rgba(154, 142, 100, 0.5);
}

p{
  color: rgb(255, 255, 255);
  background-color: rgba(154, 142, 100, 0.5);
  font-size: 20px;
}
