
.content{
  background-image: url("../images/menu-back.jpg");
  height: 200%;
  padding-top:20px;
  font-family: georgia;
}

.inner{
  width: 50%;
  margin: auto;
  padding-left:30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  color:white;
  border-radius: 0;
}

.left{
  display: inline-block;
  float:left;
  text-align: left;
  width:47%;
  padding:0;
  overflow: auto;
}
.right{
  display: inline-block;
  width:50%;
  text-align: left;
}

.price{
  font-style: italic;
}

.sizes{
  text-align: center;
}

p {
  font-size: 16px;
  color:white;
}

h2{
  text-align: center;
  font-size: 26px;
}

h3{
  font-size: 22px;
  color:yellow;
}

h4{
  font-size: 20px;
}

hr{
  width: 55%;
  border:gray;
  height: 2px;
  background-color: gray;
}
